<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.SignMapper">

    <select id="getPageData" resultType="com.example.springboot.controller.vo.SignVo">
        select
        s.*, e.name examName, su.username studentName
        from sign s
        left join exam e on s.exam_id = e.id
        left join sys_user su on s.user_id = su.id
        <where>
            <if test="examId != null and examId != ''">
                and s.exam_id = #{examId}
            </if>
            <if test="studentId != null and studentId != '' ">
                and s.user_id = #{studentId}
            </if>
        </where>
        order by s.id desc
        limit #{pageNum} , #{pageSize}
    </select>
    <select id="getPageTotal" resultType="java.lang.Integer">
        select
        count(*)
        from sign s
        left join exam e on s.exam_id = e.id
        left join sys_user su on s.user_id = su.id
        <where>
            <if test="examId != null and examId != ''">
                and s.exam_id = #{examId}
            </if>
            <if test="studentId != null and studentId != '' ">
                and s.user_id = #{studentId}
            </if>
        </where>
    </select>
</mapper>
